@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@font-face {
    font-family:conthrax;
    src: url('./conthrax.otf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:conthrax,sans-serif;
    text-align: center;

}
/* LOGIN PAGE */
.login{
    height: 92vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #110423;
    color: white;
}
.login-1{
    height: 92vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.login-1 h2{
    font-size: 2.5rem;
    color: white;
}
.login-1 p{
    font-size: 1.25rem;
    color: white;
}
.login-info{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: -10%;
}
.login-1 form{
    height: 60vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.login-1 form input{
    height: 8vh;
    width: 90%;
    text-align: center;
    border-radius: 40px;
    font-size: 1.25rem;
    color: black;
}
.login-1 form button{
    height: 10vh;
    width: 10vw;
    color: black;
    font-size: 1.1rem;
    border-radius: 40px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.login-1 form button:nth-child(1){
    height: 10vh;
    width: 10vw;
    color: #110243;;
    font-size: 1.1rem;
    border-radius: 40px;
    color: #110243;
    /* 383030 */
}
button{
    background-color: white;
    color: #110243;
}
.login-1 form button:hover{
    opacity: 0.8;
}
.login-1 form a{
    cursor: pointer;
    text-decoration: underline;
}
.signup-image{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.signup-image img{
    height: 7vh;
    cursor: pointer;
}
.login-2{
    height: 92vh;
    width: 50%;
    background-color: #110423;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.login-2 img{
    height: 80vh;
}
/* HOMEPAGE */
.SOCIAL{
    height:25vh;
    width: 4vw;
    position:absolute;
    bottom: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.SOCIAL img{
    cursor: pointer;
    height: 5vh;
    transition-property: all;
    transition-duration: 2s;
}
.SOCIAL img:hover{
    transform: rotate(360deg);
}
.hp-1{
    /* background-color: #852cff; */
    background-color: #110423;
    background-image: linear-gradient(to bottom, #110423, #181333, #221d45, #2b2858, #34336b);
    height: 92vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hp-11{
    height: 85vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.hp-11-content{
    height: 50vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hp-11-content h2{
    font-size: 3rem;
    color: white;
}
.hp-11 button{
    height: 8vh;
    width: 30%;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 40px;
    cursor: pointer;
}
.hp-11 button:hover{
    opacity: 0.7;
}
.hp-11-img{
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -10vw; /* Adjust the margin-right property */
}
@keyframes rotateImage {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.hp-11-img img {
    height: 40vh; /* Adjust height as needed */
    width: 40%; /* Maintain aspect ratio */
    animation: rotateImage 10s linear infinite; /* Adjust duration as needed */
}
.mark{
    height: 10vh;
    width: 40vw;
    background-color: #110423;
}
.M-container{
    height: 10vh;
    width: 100%;
    background-color: #110423;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.M{
    height: 10vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.marquee{
    height: 10vh;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10vw;
}
.marquee img{
    height: 8vh;
    width: 100%;
}
/* PRINICPLE */
span{
    font-size: 3rem;
    font-weight: 500;
    color: #852cff;
}
.slider{

    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #852cff;
    background-color: #110423;
}
.principle{
    height: 20vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 40px;
    margin-left: 1vw;
}
.principle h2{
    font-size: 3rem;
    color: white;
}
.carousel .slider-wrapper{
    height: 80vh;
    width: 80%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.slider-card{
    border-radius: 40px;
    height: 60vh;
    width: 50%;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -2vw;
    border-radius: 0;
    padding: 1vh;
    background-image: url('HOL.jpg');
    background-size:100% 100%;
    opacity: 0.6;
    /* //margin-right: 20vw; */
}
.slider-card1{
    border-radius: 40px;
    height: 60vh;
    width: 50%;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -2vw;
    border-radius: 0;
    padding: 1vh;
    background-image: url('WORK.jpg');
    background-size:100% 100%;
    opacity: 0.6;
    font-weight: 600;
    /* //margin-right: 20vw; */
}
.slider-card2{
    border-radius: 40px;
    height: 60vh;
    width: 50%;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -2vw;
    border-radius: 0;
    padding: 1vh;
    background-image: url('HOP.jpg');
    background-size:100% 100%;
    opacity: 0.6;
    /* //margin-right: 20vw; */
}
.slider-card3{
    border-radius: 40px;
    height: 60vh;
    width: 50%;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -2vw;
    border-radius: 0;
    padding: 1vh;
    background-image: url('EE.jpeg');
    background-size:100% 100%;
    opacity: 0.6;
    /* //margin-right: 20vw; */
}
.slider-card4{
    border-radius: 40px;
    height: 60vh;
    width: 50%;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -2vw;
    border-radius: 0;
    padding: 1vh;
    background-image: url('CE.jpg');
    background-size:100% 100%;
    opacity: 0.6;
    /* //margin-right: 20vw; */
}
.slider-card-1{
    border-radius: 40px;
    height: 60vh;
    width: 80%;
    margin-left: 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    /* margin-left: -2vw; */
    /* //margin-right: 20vw; */
}
.slider-card-title{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.slider-card-title h2{
    margin-top: 2vh;
    font-size:2rem;
    color: white;
    opacity: 1;
}
.slider-card-content p{
    font-size: 1.25rem;
    color: white;
    opacity: 1;
}
.slider-card-content{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

/* SESSIONS */
.sessions{
    background-color: #110423;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.sessions h2{
    font-size: 3rem;
    color: white;
}
.sessions p{
    color: white;
}
/* SKILLS */
.skills{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #110423;
    color: white;
}
.skills-1{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.skills-11{
    height: 20vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.skills-image{
    height: 10vh;
}
.skills-image img{
    height: 10vh;
}
.s-title{
    height: 60vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.s-title h2{
    font-size: 4rem;
    color: white;
}
.s-content{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.s-box{
    height: 70vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.s-box img{
    height: 50vh;
}
.s-footer{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.s-social{
    height: 10vh;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.s-social h2{
    font-size: 1rem;
}
.s-social img{
    height: 6vh;
    cursor: pointer;
}
button{
    background-color: white;
    color: #110243;
}
